$mainColor: #690069;
$dangerColor: #690000;
$secondaryColor: #696969;

$buttonPrimaryColor: rgba($mainColor, 0.6);
$buttonPrimaryColorHover: rgba($mainColor, 0.8);
$buttonPrimaryColorActive: rgba($mainColor, 1);

$buttonSecondaryColor: rgba($secondaryColor, 0.6);
$buttonSecondaryColorHover: rgba($secondaryColor, 0.8);
$buttonSecondaryColorActive: rgba($secondaryColor, 1);

$buttonDangerColor: rgba($dangerColor, 0.6);
$buttonDangerColorHover: rgba($dangerColor, 0.8);
$buttonDangerColorActive: rgba($dangerColor, 1);
